<div class ="container">
<!-- Section: Blog v.2 -->
<section class="text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Recent posts</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon far icon="map" class="pr-2"></mdb-icon>Adventure</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Landscape</strong></h4>
        <!-- Post data -->
        <p>by <a class="font-weight-bold">AHMED AOUICHE</a>, 15/07/2018</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">To me a lush carpet of pine needles or spongy grass is more welcome than the most luxurious Persian rug.</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="graduation-cap" class="pr-2"></mdb-icon>Education</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Beautiful View</strong></h4>
        <!-- Post data -->
        <p>by <a class="font-weight-bold">AHMED AOUICHE</a>, 13/07/2018</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">In nature, nothing is perfect and everything is perfect. Trees can be contorted, bent in weird ways, and they’re still beautiful.</p>
        <!-- Read more button -->
        <a mdbBtn color="deep-orange" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="blue-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="fire" class="pr-2"></mdb-icon>Culture</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Mountain</strong></h4>
        <!-- Post data -->
        <p>by <a class="font-weight-bold">AHMED AOUICHE</a>, 11/07/2018</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">Forget not that the earth delights to feel your bare feet and the winds long to play with your hair.</p>
        <!-- Read more button -->
        <a mdbBtn color="info" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.2 -->
</div>